
.home{
    margin-top: 3rem;
   
}
.banner{
    color: #9b9b9b;
   
    max-height: 300px;
    background:rgb(236, 236, 236);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

.banner-text{
    display: flex;
    gap: .75rem;
    align-items: center;
    
}
.nvidia{
    text-transform: uppercase;
    color: black;
    font-family: 'Wedoflow'; 
}

.banner-text img{
    height: 1.7rem;
}

.banner-col1{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap:2rem;
    letter-spacing: .07em;
    padding: 0.5rem 0 0 4rem;
    margin: auto 0;
   
   
}

.banner-col1 p{
    font-family: Arial, Helvetica, sans-serif;
    color: #0077c8;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.banner-col1 button{
    border: 1px solid #0077c8;
    border-radius: 30px;
    width: 150px;
    padding: .75rem 1rem;
    color:#0077c8;
    font-weight: bold;
    transition: color .5s;
}

.banner-col1 button:hover{
    background-color: #0077c8;
    color: #fff;
    cursor: pointer;
}
.banner-col2{
    display: flex;
    height: calc(300px - .5rem);
    align-items: center;
}

.banner-col2 img{
    max-height: 100%;
}

.deal{
    margin:4rem auto; 
    width: 60%;
    color: #0077c8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 250px;
}
.deal img{
    max-height: 250px;
}

.deal-text{
    display: flex;
    flex-direction: column;
    color:#0077c8;
    gap: 1rem;

}

.deal-text h1{
    font-size:3rem ;
    color:#0077c8;
}



